<a href="https://colab.research.google.com/github/olokotoh/Homoye-Internship/blob/main/Stage%20A%20quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
train = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')
train.head()

                record_id  ...  fuel_cost_per_mmbtu
0   f1_fuel_1994_12_1_0_7  ...                1.121
1  f1_fuel_1994_12_1_0_10  ...                1.120
2   f1_fuel_1994_12_2_0_1  ...                1.650
3   f1_fuel_1994_12_2_0_7  ...                1.970
4  f1_fuel_1994_12_2_0_10  ...                2.570

[5 rows x 11 columns]

## Question 4

In [13]:
train.describe()

       utility_id_ferc1  ...  fuel_cost_per_mmbtu
count      29523.000000  ...         29523.000000
mean         118.601836  ...            19.304354
std           74.178353  ...          2091.540939
min            1.000000  ...           -41.501000
25%           55.000000  ...             1.940000
50%          122.000000  ...             4.127000
75%          176.000000  ...             7.745000
max          514.000000  ...        359278.000000

[8 rows x 7 columns]

## Question 5

In [15]:
train['fuel_qty_burned'].astype(float).skew()

15.851495469109503

In [16]:
train['fuel_qty_burned'].astype(float).kurt()

651.3694501337732

## Question 3

In [18]:
train.groupby(['fuel_type_code_pudl']).mean()

                     utility_id_ferc1  ...  fuel_cost_per_mmbtu
fuel_type_code_pudl                    ...
coal                       115.637534  ...             1.787190
gas                        124.122062  ...             5.408876
nuclear                    107.397311  ...             1.716559
oil                        113.236235  ...            12.698732
other                      110.467066  ...           155.084910
waste                      154.253968  ...           822.709937

[6 rows x 7 columns]

## Question 6

In [19]:
train.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

## Question 8

In [20]:
train.corr()

                              utility_id_ferc1  ...  fuel_cost_per_mmbtu
utility_id_ferc1                      1.000000  ...             0.006122
report_year                           0.093323  ...             0.010261
fuel_qty_burned                      -0.057447  ...            -0.001896
fuel_mmbtu_per_unit                  -0.066946  ...            -0.005884
fuel_cost_per_unit_burned            -0.037863  ...            -0.000437
fuel_cost_per_unit_delivered         -0.016414  ...            -0.000109
fuel_cost_per_mmbtu                   0.006122  ...             1.000000

[7 rows x 7 columns]

## Question 10

In [38]:
train.groupby('report_year')['fuel_cost_per_unit_delivered'].mean()

report_year
1994    213.191996
1995    354.422555
1996     79.434995
1997    149.482132
1998    126.683519
1999    120.053605
2000    237.797111
2001    133.013010
2002    101.179365
2003    123.183919
2004    154.897398
2005    107.111221
2006    151.361249
2007    202.622082
2008    255.954415
2009    215.699318
2010    262.951203
2011    301.754519
2012    258.804138
2013    255.991023
2014    442.359068
2015    237.933197
2016    247.083959
2017    246.281796
2018    232.992036
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 9

In [39]:
train.groupby('report_year')['fuel_cost_per_unit_burned'].count()

report_year
1994    1235
1995    1201
1996    1088
1997    1094
1998    1107
1999    1050
2000    1373
2001    1356
2002    1205
2003    1211
2004    1192
2005    1269
2006    1243
2007    1264
2008    1228
2009    1222
2010    1261
2011    1240
2012    1243
2013    1199
2014    1171
2015    1093
2016    1034
2017     993
2018     951
Name: fuel_cost_per_unit_burned, dtype: int64

## Question 1

In [35]:
A = [1,2,3,4,5,6]
B = [13, 21, 34]
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

## Question 2

In [36]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])